{% extends 'home/base.html' %}
{% block title %}
About AIStocx.com
{% endblock title %}
{% block body %}

<main class='mt-4 mb-4'>
    <div class="container">

        <h1>About Us</h1>Hello friends welcome to <strong>AIstocx.com</strong>. It is a fintech
        platform. Here we will provide you the content of your choice, which you will like very much.With a focus on
        <strong>free  price prediction and buy and sell signals</strong>, we are dedicated to providing you  very best and accurate
        <strong>signals and predictions</strong>.We're working to turn
        our passion for <strong>free signals</strong> into a growing online website. We hope you enjoy our
        <strong>website</strong> as much as we enjoy giving them to you.<strong>I will keep upgrading website for you.
            Please give your support and love.</strong>
        </div>
    </main>
{% endblock body %}