{% extends 'home/base.html' %}
{% block title %}
{% load my_tags %}
{% load static %}
AIStocx.com
{% endblock title %}
{% block dece %}
Get tomorrow price prediction of stocks,index , forex for free.
{% endblock dece %}
{% block body %}
<marquee id='marquee_tag' class="marquee_tag  ">
    <div class="placeholder-glow">
        <span class=" placeholder"></span>
    </div>
</marquee>
<div class="mb-4">
    <div class="mt-4 mb-4 h3 ms-3 fw-bold">Todays Highlight</div>
    <div class="row mt-4  ms-2 me-2 highlight_data_div placeholder-glow ">
        <span class=" placeholder"></span>

    </div>

</div>

<div class="mb-4 table_parent_div ">
</div>
{% endblock body %}
{% block script %}
<script src="{% static 'home/ajax.js' %}"></script>
<script src="{% static 'home/index.js' %}"></script>
<script>
    normalAjaxRequest('getIndexAjaxData', loadIndexAjaxData);
    normalAjaxRequest('getMarqueeTagAjaxData', loadMarqueeTagAjaxData);
    normalAjaxRequest('getSecondaryIndexAjaxData',getSecondaryIndexAjaxData);

</script>
{% endblock script %}